<form method="POST">
	<u>Register</u><br/>
	<input name="username" placeholder="Username"></input>
	<input name="password" placeholder="Password"></input>
	<button type="submit">Submit</button>
</form>